.live {
  position: relative;
  padding-top: 30px;
}

.live-inner {
  position: relative;
  width: 1280px;
  margin: 0 auto;
}

.live-header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.live-header img {
  width: auto;
  height: 4rem;
}
.live-main {
  position: relative;
}

.live-slide-wrap {
  position: relative;
  height: 455px;
  margin-top: 23px;
}

.live-slide {
  position: relative;
  height: 100%;
}

.live-slide-item {
  position: relative;
  height: 100%;
}

.live-link {
  width: 100%;
  height: 100%;
}

.live-link img {
  width: 100%;
  height: 100%;
}

.live-slide-shortcut {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

/* .live-slide-logo {} */

.live-slide-logo img {
  width: 130px;
  height: 32px;
}

.live-total-txt {
  margin-top: 10px;
  font-size: 2rem;
  color: #fff;
}

.live-total-bt {
  height: 4.2rem;
  margin-top: 1.4rem;
  padding: 0 1.6rem;
  border: 1px solid #fff;
  font-size: 1.6rem;
  line-height: 4.2rem;
  color: #fff;
  border-radius: 2.1rem;
}

.live-img {
  position: relative;
  width: 100%;
  height: 100%;
}

.live-img img {
  position: relative;
  width: 300px;
  height: 456px;
  border-radius: 15px;
}

.live-slide-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.4) 18.65%,
      transparent 39.78%
    ),
    linear-gradient(180deg, transparent 56.75%, rgba(0, 0, 0, 0.5) 87.59%);
  border-radius: 15px;
}

.live-info-top {
  position: absolute;
  top: 15px;
  left: 15px;
}
.live-babge {
  height: 3.2rem;
  display: inline-block;
  margin-bottom: 0.8rem;
  padding: 0 1.2rem;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 3.2rem;
  color: white;
  text-align: center;
  border-radius: 1.6rem;
}

.live-name {
  font-size: 2rem;
  font-weight: 700;
  color: white;
}

.live-info-mid {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 110px;
  color: white;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
}

.live-day {
  margin-bottom: 0.4rem;
  font-size: 2.8rem;
  line-height: 3.35rem;
}

.live-time {
  font-size: 5rem;
  font-weight: 700;
  line-height: 6rem;
}

.live-slide-prev {
  position: absolute;
  top: 50%;
  left: 0;
  width: 50px;
  height: 50px;
  display: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.13);
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
}

.live-slide-prev::before {
  content: "";
  position: relative;
  width: 10px;
  height: 18px;
  display: block;
  margin: 0 auto;
  background: url("/images/slider_arrow.svg") no-repeat center;
  /* rotate 돌리기 , deg -> "각도" */
  transform: rotateY(180deg);
}

.live-slide-next {
  position: absolute;
  top: 50%;
  right: 0;
  width: 50px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.13);
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  transform: translateX(50%) translateY(-50%);
  border-radius: 50%;
}

.live-slide-next::before {
  content: "";
  position: relative;
  width: 10px;
  height: 18px;
  display: block;
  margin: 0 auto;
  background: url("/images/slider_arrow.svg") no-repeat center;
}

.live-footer {
  position: relative;
  width: auto;
  height: 5.6rem;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.live-footer button {
  position: relative;
  padding: 0 3.9rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 1.6rem;
  line-height: 5.6rem;
  border-radius: 3.8rem;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
