.tour {
  position: relative;
  padding-top: 30px;
}

.tour-inner {
  position: relative;
  width: 1280px;
  margin: 0 auto;
}

.tour-header {
  position: relative;
}

.tour-title {
  position: relative;
  font-size: 2.8rem;
  font-weight: 700;
  color: #000;
  text-align: center;
}

.tour-txt {
  position: relative;
  display: block;
  margin-bottom: 10px;
  font-size: 1.8rem;
  color: #a7a9a7;
  text-align: center;
}

.tour-main {
  position: relative;
  padding-top: 25px 0;
}

.tour-category {
  position: relative;
  display: flex;
  justify-content: center;
}

.tour-list {
  position: relative;
  display: flex;
  gap: 4px;
  align-items: center;
}

.tour-list li {
  position: relative;
}

.tour-cate-bt {
  position: relative;
  display: block;
  padding: 0px 20px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 44px;
  cursor: pointer;
  border-radius: 30px;
}

.tour-cate-bt-active {
  border: 1px solid transparent !important;
  background-color: #333 !important;
  font-weight: 700 !important;
  color: #fff !important;
}

.tour-slide-wrap {
  position: relative;
  height: 364px;
  margin-top: 23px;
}

.tour-slide {
  position: relative;
}

.tour-slide-item {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);

  border-radius: 12px;
}

.tour-slide-item a {
  position: relative;
  width: 100%;
  display: block;
}

.tour-slide-item a img {
  width: 100%;
  height: 241px;

  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.tour-slide-info {
  position: relative;
  width: 100%;
  height: 110px;
  padding: 1.6rem 1.6rem 1.2rem;
  border-bottom-right-radius: 12px;

  border-bottom-left-radius: 12px;
  background-color: rgba(0, 0, 0, 0);
  line-height: 1.5;
}
.tour-itemBadge {
  position: absolute;
  top: -1.1rem;
  left: 1.6rem;
  height: 2.2rem;
  display: flex;
  align-items: center;
  padding: 0 0.7rem;
  background-color: #1769ff;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  border-radius: 0.4rem;
}

.tour-itemBenefit {
  display: -webkit-box;
  overflow: hidden;
  font-size: 1.3rem;
  font-weight: 700;
  color: #1769ff;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.tour-itemName {
  font-size: 1.5rem;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  word-break: keep-all;
  text-overflow: ellipsis;
}

.tour-itemPrice {
  font-size: 2rem;
  font-weight: 700;
  color: #000;
}

.tour-slide-prev {
  position: absolute;
  top: 50%;
  left: 0;
  width: 50px;
  height: 50px;
  display: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.13);
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
}

.tour-slide-prev::before {
  content: "";
  position: relative;
  width: 10px;
  height: 18px;
  display: block;
  margin: 0 auto;
  background: url("/images/slider_arrow.svg") no-repeat center;
  /* rotate 돌리기 , deg -> "각도" */
  transform: rotateY(180deg);
}

.tour-slide-next {
  position: absolute;
  top: 50%;
  right: 0;
  width: 50px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.13);
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  transform: translateX(50%) translateY(-50%);
  border-radius: 50%;
}

.tour-slide-next::before {
  content: "";
  position: relative;
  width: 10px;
  height: 18px;
  display: block;
  margin: 0 auto;
  background: url("/images/slider_arrow.svg") no-repeat center;
}

.tour-footer {
  position: relative;
  width: auto;
  height: 5.6rem;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.tour-footer button {
  position: relative;
  padding: 0 3.9rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.6rem;
  line-height: 5.6rem;
  border-radius: 3.8rem;
  cursor: pointer;
}
